img{
  width: 1.6vw;
  height: 1.6vw;
  margin-bottom: 0.4vw;
  cursor: pointer;
  position: relative;
  left: 0.5vw;
}

img:hover{
 background-color: #E66570;
 border-radius: 1.2vw;
}

.containerButton {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  img{
    width: 3vw;
    height: 3vw;
  }
}

